@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&family=Stint+Ultra+Expanded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dotted-background {
  background-image: radial-gradient(circle, gray 1px, transparent 2px);
  background-size: 20px 20px; 
}
.dotted-nav {
  position: relative;
  background-color: rgba(35, 32, 32, 1); 
  background-image: radial-gradient(circle, rgb(159, 157, 157) 3px, transparent 1px);
  background-size: 20px 20px;
  backdrop-filter: blur(10px); 
  background-blend-mode: overlay;
}


:root {
  --primary-color: #222222;
  --background-color: #f0f0f0;
  --accent-color: #ff6600;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
}

/* Add more styles using CSS variables as needed */
